.editModalWindow{
    width: 512px;
    height: 168px;

    position: absolute;
    border-radius: 10px;
    

    background-color: white;
    .inputModal{
        width: 350px;
        height: 30px;

        margin: 20px 81px 0px 81px;
        padding: 0px;
        padding-left: 10px;
        border-radius: 10px;
        border: none;
        outline: none;

        box-shadow: 0px 0px 14px -1px rgba(66, 68, 90, 0.34);
    }
}

.timeanddate{
    display: flex;
    flex-direction: row;
    input[type="date"]{
        width: calc(100% - 20px);
        height: 100%;

        padding-left: 25px;
        padding-right: 5px;
        margin: 25px;
        border: none;
        outline: none;
        border-radius: 10px;

        cursor: pointer;
        font-size: 13px;
        font-family: 'Roboto Mono', monospace;
        box-shadow: 0px 0px 14px -1px rgba(66, 68, 90, 0.34);
        background-color: rgba(230, 230, 230, 0.774);
    }
    input[type="time"]{
        width: calc(100% - 20px);
        height: 100%;

        padding-left: 25px;
        padding-right: 5px;
        margin: 25px;
        border: none;
        outline: none;
        border-radius: 10px;

        cursor: pointer;
        font-size: 13px;
        font-family: 'Roboto Mono', monospace;
        box-shadow: 0px 0px 14px -1px rgba(66, 68, 90, 0.34);
        background-color: rgba(230, 230, 230, 0.774);
    }
}

.buttonsModal{
    display: flex;
    flex-direction: row;
    button{
        width: 100px;
        height: 25px;

        padding: 0;
        margin: 0px 78px;
        border: none;
        border-radius: 10px;
        
        cursor: pointer;
        transition: all 0.13s ease-in-out;
        box-shadow: 0px 0px 14px -1px rgba(66, 68, 90, 0.34);
    }
    button:hover{
        opacity: 0.9;
    }
    button:active{
        scale: 0.9;
    }
    .Apply{
        background-color: rgba(0, 255, 4, 0.492);
    }
    .Cancel{
        background-color: rgba(255, 0, 0, 0.492);
    }
}

.modal{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    position: fixed;
    top:0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transform: scale(0);
    transition: all 0.3s ease-in-out;
}
.modal.active{
    opacity: 1;
    transform: scale(1);
}